<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.kipling.springboot.thymeleaf.dao.UserDao">

	<select id="findByNameLike" parameterType="string" resultType="user">
		select * from tb_user where name like '%${strLike}%'
		<!-- concat(concat('%',#{username}),'%') -->
	</select>
</mapper>